body {
  font-family: "Poppins", sans-serif;
  min-width: 380px;
}

.navbar {
  padding: 2.125rem 2.8125rem;
  border-bottom: 1px solid rgba(188, 164, 255, 0.4078431373);
  display: flex;
  justify-content: space-between;
}
.navbar__title {
  color: #5f2eea;
  font-weight: 700;
  font-size: 2.14875rem;
  line-height: 3.4375rem;
}
.navbar__button {
  background-color: transparent;
  border: none;
  margin-right: 1rem;
}

.sf-top-version {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #d9dbe9;
  padding: 4.8125rem 1.875rem 3.3125rem 1.875rem;
}
.sf-top-version__title {
  color: #000000;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 1px;
  padding-bottom: 1.8rem;
}
.sf-top-version__form {
  display: flex;
  flex-direction: column;
}
.sf-top-version__select {
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0.75px;
  border: #5f2eea solid 1px;
  height: 3.5rem;
  border: solid 2px #14142b;
  border-radius: 1rem;
  background-color: #f7f7fc;
  margin-bottom: 1.5625rem;
  padding-left: 1.5rem;
  appearance: none;
  background-image: url(/img/forward.png);
  background-repeat: no-repeat;
  background-position-x: 94%;
  background-position-y: 50%;
}
.sf-top-version__button {
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0.75px;
  background-color: #ed2e7e;
  border-radius: 2.5rem;
  height: 3.4375rem;
  color: #f7f7fc;
  font-weight: 600;
  border: none;
}

.sf-side-version {
  background-color: #2a00a2;
  border-radius: 1.25rem;
  margin: 2.6875rem 1.875rem 3rem 1.875rem;
  padding: 1.875rem 2.0625rem 2.1875rem 2.1875rem;
}
.sf-side-version__title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.375rem;
  letter-spacing: 0.75px;
  color: #bca4ff;
  padding-left: 0.3125rem;
  margin-bottom: 1.6875rem;
}
.sf-side-version__label {
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0.75px;
  color: #f3efff;
  margin-bottom: 1px;
}
.sf-side-version__form {
  display: flex;
  flex-direction: column;
}
.sf-side-version__button {
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0.75px;
  display: flex;
  border: none;
  height: 3.6875rem;
  border-radius: 0.9375rem;
  align-items: center;
  background-color: #eff0f7;
  margin-bottom: 0.8125rem;
  padding-left: 1.5rem;
  padding-right: 1.875rem;
  color: #14142b;
}
.sf-side-version__button img:first-child {
  margin-right: 1.125rem;
}
.sf-side-version__button > :nth-child(2n) {
  margin-left: auto;
}
.sf-side-version__button--pink {
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0.75px;
  justify-content: center;
  background-color: #ed2e7e;
  border-radius: 2.5rem;
  height: 4rem;
  color: #f7f7fc;
  font-weight: 600;
  border: none;
  margin-top: 0.875rem;
  margin-left: 0.3125rem;
}

.sf-side2-version {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.875rem 0 1.625rem;
}
.sf-side2-version__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 1px;
  padding-left: 0.375rem;
}
.sf-side2-version__main {
  padding: 2.6875rem 0 2.4375rem 0.25rem;
  border-bottom: 1px solid #d9dbe9;
}
.sf-side2-version__main--hidden {
  display: none;
}
.sf-side2-version__image {
  display: flex;
  height: 12.75rem;
  margin-bottom: 1.375rem;
  overflow-y: auto;
}
.sf-side2-version__image > img {
  margin-right: 1.3125rem;
}
.sf-side2-version__star {
  display: flex;
  margin-bottom: 1.375rem;
}
.sf-side2-version__star > img {
  margin-right: 0.5rem;
}

.description-image {
  padding: 0.375rem 0 1.375rem 0.125rem;
}
.description-image__title {
  color: #5f2eea;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.375rem;
  letter-spacing: 0.75px;
}
.description-image__text {
  color: #4e4b66;
  font-size: 1rem;
  line-height: 2.125rem;
  letter-spacing: 0.75px;
}

.gps {
  display: flex;
  margin: 1px;
}
.gps > p {
  color: #5f2eea;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 2.125rem;
  letter-spacing: 0.75px;
}
.gps > img {
  margin-right: 0.625rem;
  height: 1.375rem;
}

.description-image__button {
  margin-left: -0.25rem;
  width: 10.75rem;
  padding: 0.375rem 0;
  border-radius: 2.5rem;
  background-color: #ffffff;
  border: 2px solid #d9dbe9;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.75px;
  font-weight: 600;
  color: #5f2eea;
}

.button-container {
  position: relative;
  background-color: white;
  width: 7.875rem;
  display: flex;
  justify-content: center;
  top: -27px;
}

.description-image__button--last {
  margin-bottom: 2.1875rem;
}

.extra-info__warning-info, .extra-info__like-info {
  border: solid 2px;
  margin: 0 0.375rem;
  display: flex;
  border-radius: 1rem;
  padding: 1.25rem 1.5625rem 1.25rem 1.5625rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.375rem;
  letter-spacing: 0.25px;
}
.extra-info__warning-info > p, .extra-info__like-info > p {
  padding-right: 1.25rem;
}

.extra-info {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.extra-info__like-info {
  color: #00966d;
  border-color: #00ba88;
  background-color: #f2fffb;
  margin-bottom: 2.5rem;
}
.extra-info__like-info--first-icon {
  margin-right: 1.0625rem;
  margin-top: 0.25rem;
  height: 23px;
}
.extra-info__like-info--close-icon {
  height: 12px;
  align-self: center;
  margin-left: auto;
}
.extra-info__warning-info {
  color: #c30052;
  border-color: #ed2e7e;
  background-color: #fff3f8;
  margin-bottom: 2rem;
}
.extra-info__warning-info--first-icon {
  margin-right: 1.0625rem;
  margin-top: 0.25rem;
  height: 23px;
}
.extra-info__warning-info--close-icon {
  height: 12px;
  align-self: center;
  margin-left: auto;
}
.extra-info__contact-us {
  height: 28.75rem;
  border-radius: 2.1875rem;
  background-image: url(/img/Group\ 247.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20%;
}
.extra-info__contact-us > h1 {
  color: white;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.125rem;
  letter-spacing: 1px;
  text-align: center;
}
.extra-info__contact-us > button {
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0.75px;
  background-color: transparent;
  border: solid 2px #fcfcfc;
  border-radius: 2.5rem;
  color: #fcfcfc;
  font-weight: 600;
  height: 4rem;
  margin-top: 1.5625rem;
  width: 80%;
  max-width: 25rem;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 0 1.875rem;
}
.footer__title {
  display: block;
  color: #5f2eea;
  margin-top: 10px;
  margin-bottom: 24px;
}
.footer__info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer__text {
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0.75px;
  color: #4e4b66;
  margin-bottom: 1.875rem;
}
.footer__copyrigth {
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0.75px;
  color: #4e4b66;
  margin-bottom: 3.75rem;
}
.footer__services--hidden {
  display: none;
}
.footer__continents--hidden {
  display: none;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 3rem;
}
.footer__contact-text {
  color: #14142b;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2rem;
  margin-bottom: 1.875rem;
}
.footer__email {
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0.75px;
  color: #5f2eea;
  margin-bottom: 1.125rem;
}
.footer__address {
  color: #6e7191;
  margin-bottom: 1.875rem;
}
.footer__phonenumber {
  color: #6e7191;
  margin-bottom: 6.25rem;
}

@media (min-width: 950px) {
  .main-container__search {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1.875rem;
  }
  .sf-top-version__form {
    flex-direction: row;
    justify-content: space-between;
  }
  .sf-top-version__select {
    margin-right: 1.25rem;
    padding: 0 1.5625rem;
  }
  .sf-top-version__select--bigger {
    width: 100%;
  }
  .sf-top-version__button {
    padding: 0 1.25rem;
    width: 20%;
  }
  .sf-side-version {
    min-width: 22rem;
    width: 26rem;
    height: fit-content;
    margin: 2.8125rem 0;
  }
  .sf-side2-version {
    width: 90%;
    padding: 0;
    margin-top: 2.8125rem;
    margin-left: 2.3125rem;
    align-items: flex-start;
  }
  .sf-side2-version__main {
    display: flex;
    flex-direction: row;
  }
  .sf-side2-version__main--last {
    border-bottom: none;
  }
  .sf-side2-version__info {
    padding-left: 0.4rem;
    position: relative;
    min-width: 21.875rem;
  }
  .sf-side2-version__image {
    overflow: initial;
    height: fit-content;
    width: fit-content;
  }
  .sf-side2-version__image--hidden {
    display: none;
  }
  .description-image__button {
    position: absolute;
    top: 0;
    right: 5%;
  }
  .button-container--hidden {
    display: none;
  }
  .extra-info {
    margin: 0 auto;
    max-width: 1200px;
  }
  .footer {
    flex-direction: row;
    margin: 0 auto;
    max-width: 1200px;
  }
  .footer__title {
    margin-top: 0;
  }
  .footer__info {
    align-items: flex-start;
    margin-top: 8px;
  }
  .footer__copyrigth {
    font-weight: 600;
  }
  .footer__services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6rem;
  }
  .footer__continents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6rem;
  }
  .footer__list {
    list-style-type: none;
    color: #6e7191;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.75px;
    margin-right: 1.875rem;
  }
  .footer__list > li {
    margin-bottom: 1.25rem;
  }
  .footer__contact {
    align-items: flex-start;
    text-align: left;
    padding: 0;
    margin-left: 6rem;
    margin-bottom: 1.25rem;
  }
  .footer__contact a {
    margin-top: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
