@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    padding: toRem(34) toRem(45);
    border-bottom: 1px solid #bca4ff68;
    display: flex;
    justify-content: space-between;

    &__title {
        color: #5f2eea;
        font-weight: 700;
        font-size: toRem(34.38);
        line-height: toRem(55);
    }

    &__button {
        background-color: transparent;
        border: none;
        margin-right: toRem(16);
        .button__line {
            margin-bottom: 3px;
        }
    }
}
