@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

@mixin main-font-parameters {
    font-size: toRem(16);
    line-height: toRem(28);
    letter-spacing: 0.75px;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    padding: toRem(34) toRem(45);
    border-bottom: 1px solid #bca4ff68;
    display: flex;
    justify-content: space-between;

    &__title {
        color: #5f2eea;
        font-weight: 700;
        font-size: toRem(34.38);
        line-height: toRem(55);
    }

    &__button {
        background-color: transparent;
        border: none;
        margin-right: toRem(16);
    }
}

.sf-top-version {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #d9dbe9;
    padding: toRem(77) toRem(30) toRem(53) toRem(30);
    &__title {
        color: #000000;
        font-weight: 700;
        font-size: toRem(24);
        line-height: toRem(32);
        letter-spacing: 1px;
        padding-bottom: 1.8rem;
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
    &__select {
        @include main-font-parameters;
        border: #5f2eea solid 1px;
        height: toRem(56);
        border: solid 2px #14142b;
        border-radius: toRem(16);
        background-color: #f7f7fc;
        margin-bottom: toRem(25);
        padding-left: toRem(24);
        appearance: none;
        background-image: url(/img/forward.png);
        background-repeat: no-repeat;
        background-position-x: 94%;
        background-position-y: 50%;
    }
    &__button {
        @include main-font-parameters;
        background-color: #ed2e7e;
        border-radius: toRem(40);
        height: toRem(55);
        color: #f7f7fc;
        font-weight: 600;
        border: none;
    }
}

.sf-side-version {
    background-color: #2a00a2;
    border-radius: toRem(20);
    margin: toRem(43) toRem(30) toRem(48) toRem(30);
    padding: toRem(30) toRem(33) toRem(35) toRem(35);
    &__title {
        font-weight: 600;
        font-size: toRem(24);
        line-height: toRem(38);
        letter-spacing: 0.75px;
        color: #bca4ff;
        padding-left: toRem(5);
        margin-bottom: toRem(27);
    }
    &__label {
        @include main-font-parameters;
        color: #f3efff;
        margin-bottom: 1px;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__button {
        @include main-font-parameters;
        display: flex;
        border: none;
        height: toRem(59);
        border-radius: toRem(15);
        align-items: center;
        background-color: #eff0f7;
        margin-bottom: toRem(13);
        padding-left: toRem(24);
        padding-right: toRem(30);
        color: #14142b;
    }

    &__button img:first-child {
        margin-right: toRem(18);
    }

    &__button > :nth-child(2n) {
        margin-left: auto;
    }

    &__button--pink {
        @include main-font-parameters;
        justify-content: center;
        background-color: #ed2e7e;
        border-radius: toRem(40);
        height: toRem(64);
        color: #f7f7fc;
        font-weight: 600;
        border: none;
        margin-top: toRem(14);
        margin-left: toRem(5);
    }
}

.sf-side2-version {
    padding: 0 1rem;
    min-width: 500px;
    &__title {
        color: #000000;
        font-weight: 700;
        font-size: toRem(24);
        line-height: toRem(32);
        letter-spacing: 1px;
        padding-bottom: 1.8rem;
        margin-left: toRem(18);
    }
    &__image {
        display: flex;
        height: 204px;
        justify-content: space-around;
    }
    &__star {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0.4rem 0;
        padding-left: 1rem;
    }
}
.description-image {
    margin-left: toRem(18);
    &__title {
        color: #5f2eea;
    }
    &__text {
        color: #4e4b66;
        line-height: 30px;
    }
}

.gps {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: toRem(18);
    &__location {
        display: flex;
        align-items: center;
    }
}
.description-image__button {
    margin-left: toRem(18);
    display: flex;
    .button-booking {
        padding: 10px;
        display: flex;
        border-radius: 3rem;
        background-color: #ffffff;
        border: 0.8px solid #4e4b66;
        color: #5f2eea;
        font-weight: bold;
        font-size: 0.6rem;
        letter-spacing: 0.75px;
    }
}

.line {
    border-bottom: 1px solid #d9dbe9;
    max-width: 500px;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    opacity: 50%;
    margin-right: 3rem;
}
